Lenguaje de Marcas/XML/XSD/xsd.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="nota"><xs:complexType><xs:sequence><xs:element name="nombre" type="xs:string"/><xs:element name="fecha_nacimiento" type="xs:date"/><xs:element name="edad" type="xs:int"/><xs:element name="nota" type="xs:float"/></xs:sequence></xs:complexType></xs:element></xs:schema>
